.calendar-container{
  display: flexbox;
  justify-content: flex-start;
}

Form{
  width:25%;
  border-style: solid;
  margin: 5%;
  padding:1%;
  border-radius: 5%;
}

.calendar-events{
  margin:5%;
}