.calendar-container{
  display: flex;
  justify-content: flex-start;
}

.calendar-form-container{
  width:40%;
  margin: 5%;
}

.calendar-form{
  
  border-style: solid;

  padding:5%;
  border-radius: 5%;
}

.calendar-events{
  margin:5%;
  display:flex;
  flex-wrap:wrap;
}

.card{
  margin:1%;
}